body {
    font-family: 'Montserrat', sans-serif;
}
.coming-soon {
    background: url(../images/coming-soon-bg.jpg) no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font-size: 46px;
    color: #fff;
}
.coming-soon-content {
    margin: 0 auto;
    display: grid;
    width: 60%;
    text-align: center;
    height: 100%;
    align-content: center;
}
.top-logo img{
    object-fit: contain;
    object-position: 50% 50%;
    font-family: 'object-fit: cover; object-position: 50% 50%;';
    width: 100%;
}
.top-logo {
    margin-bottom: 80px;
}
.coming-soon-content h1 {
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: 200;
    color: #fff;
}
.timer-section {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 500px;
    margin: 0 auto;
}
.timer-section div {
    font-size: 20px;
    justify-content: center;
    border:3px solid #f6dd00;
    border-radius: 5px;
    padding: 0;
}
.timer-section div span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 40px;
    padding: 20px 0;
}
.timer-section div span.text {
    font-size: 20px;
    padding: 10px 0;
    text-transform: uppercase;
    border-top: 3px solid #f6dd00;
    background: #f6dd00;
    color: #000;
}
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
@media screen and (max-width: 767px) {
    .coming-soon-content {
        width: 80%;
    }
    .timer-section {
        width: 100%;
    }
}